<footer class="footer-base">
  <div class="ui two columns grid container">

    <div class="column">
      <ul class="footer-nav">
        <li class="footer-nav-item">
          <a href="https://www.facebook.com/groups/CACCUFFSCCO/" target="_blank">
            Centro acadêmico
          </a>
        </li>
      </ul>
    </div>

    <div class="column right aligned">
      <p>
        <small>
          Universidade Federal da Fronteira Sul - Chapecó SC<br>
          <a href="https://github.com/SrAnthony/VISemanaAcademica" class="no-decoration open-source-link" target="_blank">
            <i class="icon-social-github"></i> Disponível no Github
          </a>
        </small>
      </p>
    </div>

  </div>
</footer>
