<header class="hero-jumbotron" id="inicio">

  <section class="hero-social">
    <a href="https://github.com/SrAnthony/VISemanaAcademica" target="_blank" class="no-decoration">
      <i class="icon-social-github"></i>
    </a>
    <%# TODO: Trocar para url do evento no facebook %>
    <a href="https://www.facebook.com/groups/CACCUFFSCCO/" target="_blank" class="no-decoration">
      <i class="icon-social-facebook"></i>
    </a>
    <a href="https://uffs.cafe" class="no-decoration">
      <i class="icon-globe"></i>
    </a>
  </section>

  <section class="hero-title">
    <h5 class="details-header">
      <i class="icon-calendar"></i> 19.nov
      <i class="icon-location-pin"></i> UFFS, Chapecó - SC
    </h5>
    <h1 class="intro-header">
      VI Semana Acadêmica - <span class="text-primary">CC</span><span class="blink-me">_</span>
    </h1>
    <h6 class="sub-header">
      A ciência que <strong>expande</strong>, <strong>conecta</strong> e <strong>revoluciona</strong>!
    </h6>
    <div class="hero-buttons">
      <a href="#" class="ui primary large button signup-modal">
        Realizar inscrição
      </a>
      <a href="#agenda" class="ui inverted large button">
        <i class="icon-calendar"></i> Agenda
      </a>
    </div>
  </section>

</header>
