<nav class="main-nav">
  <ul class="nav-list visible-tablet">
    <li>
      <a data-js="main-nav-toggler" class="link">
        <i class="icon-menu"></i> Menu
      </a>
    </li>
  </ul>
  <ul data-js="main-nav" class="nav-list hidden-tablet">
    <li>
      <a href="#inicio">
        <i class="icon-home"></i> Início
      </a>
    </li>
    <li>
      <a href="#sobre">
        <i class="icon-info"></i> Sobre
      </a>
    </li>
    <li>
      <a href="#convidados">
        <i class="icon-people"></i> Convidados
      </a>
    </li>
    <li>
      <a href="#agenda">
        <i class="icon-calendar"></i> Agenda
      </a>
    </li>
    <li>
      <a href="#inscricao">
        <i class="icon-pencil"></i> Inscrição
      </a>
    </li>
  </ul>
</nav>
