<div id="schedule-day-1" class="tab-pane ">
  <!-- Second level content start -->
  <div class="tab-content tab-content-schedule">
    <!-- Main content start -->
    <div class="tab-pane ">
      <!-- Accordion start -->
      <div class="panel-group">

        <div class="panel schedule-item">
          <div class="schedule-item-body">
            <h2><i class="icon-microphone"></i> Palestras</h2>
          </div>
        </div>

        <%= render 'index/sections/schedule_days/template',
          image: '<i class="icon-user"></i>',
          speaker: 'Braulio Adriano Melo',
          title: 'Simulação',
          time: '13:30 - 15:00',
          place: 'Auditório Bloco B',
          descricao: 'Saiba mais sobre a área de simulação na computação'
        %>

        <%= render 'index/sections/schedule_days/template',
          image: image_tag('speakers/fronteiratec.jpg', class: 'img-responsive', width: '100%'),
          speaker: 'Lucas Jaenisch e Matheus Vieira',
          title: 'Conheça a Fronteiratec: Release do jogo Brocdoom',
          time: '15:30 - 17:00',
          place: 'Auditório Bloco B',
          descricao: 'Lançamento do Jogo Brocdoom produzido pela Fronteiratec, a empresa júnior de computação da UFFS. Além de conhecer o jogo, venha conhecer a Fronteiratec'
        %>

        <%= render 'index/sections/schedule_days/template',
          image: image_tag('speakers/denioduarte.jpg', class: 'img-responsive', width: '100%'),
          speaker: 'Denio Duarte',
          title: 'Vida Acadêmica na Computação',
          time: '19:00 - 20:30',
          place: 'Auditório Bloco B',
          descricao: 'Quer saber mais sobre a vida acadêmica, os desafios e caminhos e também conhecer sobre a SBC.'
        %>

        <!-- =============================================================================== -->
        <!-- =============================================================================== -->
        <!-- =============================================================================== -->

        <div class="ui hidden divider"></div>
        <div class="panel schedule-item">
          <div class="schedule-item-body">
            <h2><i class="icon-microphone"></i> Minicursos</h2>
          </div>
        </div>

        <%= render 'index/sections/schedule_days/template',
          image: image_tag('speakers/tomkelski.jpg', class: 'img-responsive', width: '100%'),
          speaker: 'Anderson Tomkelski',
          title: 'Shell Script',
          time: '19:00 - 20:30',
          place: 'LAB 402 B',
          descricao: 'Shell script é uma linguagem script usada em vários sistemas operativos, possuindo também difersos interpretadores como o bash, usado na maioria das ditribuições GNU/Linux. O objetivo desse workshop é entender a estrutura de um script shell e iniciar a construção de seus primeiros scripts usando diversas ferramentas que uma distribuição GNU/Linux pode te oferecer. '
        %>

        <!-- =============================================================================== -->
        <!-- =============================================================================== -->
        <!-- =============================================================================== -->

        <!-- <div class="ui hidden divider"></div>
        <div class="panel schedule-item">
          <div class="schedule-item-body">
            <h2><i class="icon-microphone"></i> Atividades</h2>
          </div>
        </div>

        <%#= render 'index/sections/schedule_days/template',
          image: image_tag('speakers/emilio.jpg', class: 'img-responsive', width: '100%'),
          speaker: 'Emílio Wuerges',
          title: 'Cinedebates: As maravilhas da lógica',
          time: '15:30 - 17:00',
          place: ' SALA 401 B',
          descricao: 'O documentário percorre uma incrível jornada matemática e filosófica no mundo da lógica. Trabalhando com sua equipe, o apresentador Dave Cliff, professor de ciência da computação e engenharia na Universidade de Bristol, revela os fundamentos do raciocínio de Aristóteles a Alice no País das Maravilhas, passando por sci-fi e supercomputadores.'
        %> -->

      </div>
      <!-- Accordion end -->
    </div>
    <!-- Main content end -->
  </div>
  <!-- Second level content end -->

</div>
