<div id="schedule-day-5" class="tab-pane ">
  <!-- Second level content start -->
  <div class="tab-content tab-content-schedule">
    <!-- Main content start -->
    <div class="tab-pane">
      <!-- Accordion start -->
      <div class="panel-group">

        <div class="panel schedule-item">
          <div class="schedule-item-body">
            <h2><i class="icon-microphone"></i> Palestras</h2>
          </div>
        </div>

        <%= render 'index/sections/schedule_days/template',
          image: image_tag('speakers/amanda.jpg', class: 'img-responsive', width: '100%'),
          speaker: 'Amanda Groth',
          title: 'Tecnologia Assistiva: A favor da independência do ser humano',
          time: '15:30 - 17:00',
          place: '',
          descricao: 'Conhece as tecnologias assistivas? Não? Então venha conhecer, venhar descobrir o que essa tecnologia pode prover para uma grande mudança de paradigmas na humanidade'
        %>

        <!-- =============================================================================== -->
        <!-- =============================================================================== -->
        <!-- =============================================================================== -->

        <%# <div class="ui hidden divider"></div>
        <div class="panel schedule-item">
          <div class="schedule-item-body">
            <h2><i class="icon-microphone"></i> Minicursos</h2>
          </div>
        </div> %>


        <!-- =============================================================================== -->
        <!-- =============================================================================== -->
        <!-- =============================================================================== -->

        <div class="ui hidden divider"></div>
        <div class="panel schedule-item">
          <div class="schedule-item-body">
            <h2><i class="icon-microphone"></i> Atividades</h2>
          </div>
        </div>

        <%= render 'index/sections/schedule_days/template',
          image: '<i class="icon-trophy"></i>',
          speaker: '',
          title: 'Campeonato de LOL',
          time: '13:30 - 17:00',
          place: 'LAB 405 B',
          descricao: 'Monte seu time e avante'
        %>

        <%= render 'index/sections/schedule_days/template',
          image: '<i class="icon-trophy"></i>',
          speaker: '',
          title: 'Sorteio Rifa VI Semana Acadêmica CC UFFS',
          time: '20:45 - 21:00',
          place: '402 B',
          descricao: 'Saiba mais sobre a área de simulação'
        %>

      </div>
      <!-- Accordion end -->
    </div>
    <!-- Main content end -->
  </div>
  <!-- Second level content end -->

</div>
