<section class="section about" id="sobre">
  <h1 class="ui icon center aligned header">
    <i class="icon-info text-primary"></i>
    <div class="content">
      Sobre a Semana Acadêmica
      <div class="sub header">
        21 a 24 de outubro de 2018
      </div>
    </div>
  </h1>

  <div class="container">
    <div class="ui stackable fluid three item borderless secondary pointing menu">
      <a class="item active" data-tab="info">
        <i class="icon-info"></i> Informações
      </a>
      <a class="item" data-tab="atractions">
        <i class="icon-speech"></i> Atrações
      </a>
      <a class="item" data-tab="workshops">
        <i class="icon-rocket"></i> Workshops
      </a>
    </div>

    <div class="ui divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>

    <div class="ui tab active" data-tab="info">
      <div class="ui two column doubling stackable grid container">
        <div class="seven wide column">
          <%= image_tag "index/computer-1.png", class: "ui fluid image" %>
        </div>
        <div class="nine wide column">
          <h2 class="ui header">Sobre o evento</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quae hic eius aperiam non eos enim deserunt, placeat voluptates corporis libero obcaecati laboriosam, rem quaerat natus, dolore vitae at ad quidem fugit consectetur. Sunt quisquam ullam iste dolorem tempora perspiciatis.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque ea voluptatum ex quam natus id rem ratione, odit, ipsam ducimus quos in, perspiciatis placeat. Molestias maxime, culpa in ex sed.
          </p>
        </div>
      </div>
    </div>

    <div class="ui tab" data-tab="atractions">
      <div class="ui two column doubling stackable grid container">
        <div class="seven wide column">
          <%= image_tag "index/computer-1.png", class: "ui fluid image" %>
        </div>
        <div class="nine wide column">
          <h2 class="ui header">Sobre as atrações</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum temporibus itaque culpa tempora asperiores. Cupiditate fugiat debitis, porro id nobis soluta vero accusantium dignissimos itaque? Corporis facere sint neque ab nisi, nam quod, recusandae architecto ducimus eaque nesciunt id eius!
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim voluptatum mollitia et quis, harum error quisquam a, repellat officiis officia dolore natus dignissimos molestiae vero dolorum aliquid similique eligendi quaerat.
          </p>
        </div>
      </div>
    </div>

    <div class="ui tab" data-tab="workshops">
      <div class="ui two column doubling stackable grid container">
        <div class="seven wide column">
          <%= image_tag "index/computer-1.png", class: "ui fluid image" %>
        </div>
        <div class="nine wide column">
          <h2 class="ui header">Sobre os workshops</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus architecto hic quibusdam eos rem eveniet dignissimos, omnis magni! Accusantium architecto quasi placeat unde, fugit animi eveniet, explicabo itaque, iure velit, iusto incidunt molestiae et. Temporibus amet minus, ducimus quia consequatur!
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum quia illo doloribus eveniet, perspiciatis iusto dolores, quisquam, blanditiis dignissimos harum reiciendis obcaecati quasi rem earum, consequatur vitae suscipit delectus a!
          </p>
        </div>
      </div>
    </div>
  </div>


</section>
