<section class="section about" id="sobre">
  <h1 class="ui icon center aligned header">
    <i class="icon-info text-primary"></i>
    <div class="content">
      Sobre a Semana Acadêmica
      <div class="sub header">
        de 19 à 23 de Novembro de 2018
      </div>
    </div>
  </h1>

  <div class="container">
    <div class="ui stackable fluid three item borderless secondary pointing menu">
      <a class="item active" data-tab="info">
        <i class="icon-info"></i> Informações
      </a>
      <a class="item" data-tab="atractions">
        <i class="icon-speech"></i> Atrações
      </a>
      <a class="item" data-tab="workshops">
        <i class="icon-rocket"></i> Workshops
      </a>
    </div>

    <div class="ui divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>

    <div class="ui tab active" data-tab="info">
      <div class="ui two column doubling stackable grid container">
        <div class="seven wide column">
          <%= image_tag "index/computer-1.png", class: "ui fluid image" %>
        </div>
        <div class="nine wide column">
          <h2 class="ui header">Sobre o evento</h2>
          <p>
            A Semana Acadêmica da Ciência da Computação da UFFS é um evento estudantil promovido pelo Centro Acadêmico do curso com o intuito de compartilhar o conhecimento entre os alunos através de palestras, oficinas e minicursos.
          </p>
          <p>
            Este ano, em sua 6° edição, o evento ocorrerá entre os dias 19 e 23 de novembro com programação nos períodos vespertino e noturno.
          </p>
        </div>
      </div>
    </div>

    <div class="ui tab" data-tab="atractions">
      <div class="ui two column doubling stackable grid container">
        <div class="seven wide column">
          <%= image_tag "index/computer-1.png", class: "ui fluid image" %>
        </div>
        <div class="nine wide column">
          <h2 class="ui header">Sobre as atrações</h2>
          <p>
            Entre as Atrações da Semana Acadêmica temos palestras que trazem outras visões de mundo relacionadas ao curso, campeonatos que trazer entretenimento e cines debates onde desenvolvemos a análise crítica sobre os principais temas da atualidade.
          </p>
        </div>
      </div>
    </div>

    <div class="ui tab" data-tab="workshops">
      <div class="ui two column doubling stackable grid container">
        <div class="seven wide column">
          <%= image_tag "index/computer-1.png", class: "ui fluid image" %>
        </div>
        <div class="nine wide column">
          <h2 class="ui header">Sobre os workshops</h2>
          <p>
            Os workshops são espaços para os participantes poderem aprender mais e na prática!
          </p>
        </div>
      </div>
    </div>
  </div>


</section>
