<section class="section counters bg-cover bg5 overlay">
  <div class="container">
    <div class="ui stackable four columns grid center aligned">
    <div class="column">
      <div class="ui inverted large statistic">
        <div class="value">
          12
        </div>
        <div class="label">
          Palestrantes
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui inverted large statistic">
      <div class="value">
        5
      </div>
      <div class="label">
        Dias
      </div>
    </div>
    </div>
    <div class="column">
      <div class="ui inverted large statistic">
      <div class="value">
        7
      </div>
      <div class="label">
        Workshops
      </div>
    </div>
    </div>
    <div class="column">
      <div class="ui inverted large statistic">
      <div class="value">
        98
      </div>
      <div class="label">
        Inscrições
      </div>
    </div>
    </div>
  </div>
  </div>
</section>
